.scratch-1 p{
    color: black;
    text-align: left;
}

.scratch-1-title {
    color: black;
    text-align: left;
}
.scratch-1 textarea{
    color: black;
    text-align: left;
}
  
.question-list{
    text-align: left;
}
.scratch-1 label{
    color: black;
    padding-left: 10px;
}
.scratch-1 .input1{
      margin-left: 10px;
}
.scratch-1 .input{

    background-color: #F0F0F0;
    margin: 0;
    margin-bottom: 10px;
    color: black;
    width: 424px;
    border: none;
    text-align: left;
  
  }
  @media(max-width:992px){
    .scratch-1 .input{
        width: 297px;
            
      }
  }
  .scratch-1 .form{
    text-align: left;
  
  }
  .scratch-1 .budget{

    background-color: #F0F0F0;
   
  
    color: black;
    width: 80px;
    border: none;
  
  
  }
  .scratch-1 .span1{
      color: #707070;
      font-size: 50px;
      margin-right: 3px;
      margin-left: 3px;
  }
  .scratch-1 .send{
    padding: 10px 20px;
    width: 450px;
    background-color: #151515;
    border: 1px solid#151515;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

  
  .scratch-1 .send:hover {
      color:#151515 ;
    border: 1px solid#151515;
    background-color:white;
  }
  .scratch-1 textarea{
    background-color: #F0F0F0;
    margin: 0;
    margin-bottom: 10px;
    color: black;
    border: none;
    text-align: left;
  }