/* Logo */

.logo img {
    margin-left: 115px!important;
    width: 45px;
    height: 45px;
}

/* Logo End */

/* services button */

.services-gatalog {
    padding: 10px 20px;
    border-radius: 50px;
    background: #9A7ACE;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    transition: 0.4s;
    font-family: "EN";
}

.services-gatalog:hover {
    text-decoration: none;
    color: #9A7ACE;
    background: #fff;
    border: 2px solid #9A7ACE;
    transition: 0.4s;
}

.services-gatalog.res {
    display: none;
}

/* services button End */

.navbar {
    padding: 1rem 2rem!important;
}

.navbar.sticky-top {
    box-shadow: 0 0 4rem rgba(0, 0, 0, .1)!important;
}

/* responsev */

@media (max-width:767px) {
    .services-gatalog {
        display: none;
    }
    .services-gatalog.res {
        display: inline;
        padding: 7px 20px;
        border-radius: 50px;
        border: 1px solid #fff;
    }
    .logo img {
        margin-left: 25px;
        width: 40px;
        height: 40px;
    }
    .menubar .bar1, .bar2, .bar3 {
        height: 5px;
        background-color: #333;
        margin: 4px 0;
        border-radius: 50px;
        width: 35px;
    }
    .container {
        margin: 0px;
        padding: 0px;
    }
    .navbar {
        padding: 0.5rem 0rem!important;
    }
}

/* Navbar  */


/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 25px;
     /* left: 36px; */
    top: 36px; 
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #333;
  }
  
  /* Position and sizing of clickable cross button */
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    margin-left:-4%;
    margin-top: -4%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    margin-top: -4%;
  }


  /* wrap */

  .bm-morph-shape {
    fill:#fff;
  }

  .bm-menu {
    background: none;
    position: absolute;
    text-align: center;
    margin-top: 50%;
  }

  .bm-menu a {
    color:#000;
    padding: 10px 0px ;
    text-align: left;
  }

  .bm-menu a:hover {
    color:#000;
  }

  .global img {
    width: 20%;
    margin-bottom: 3px;
    display: inline;
  }
  .global {
    margin-top: -50px;
  }

  .social-nav{
    margin-top: 150%;
  }

  .icon2.img {
    padding:0px 0px 0px 0px;
  }
  